mat-label{
    
    color: black;
}
.test{
    color: red;
}
mat-form-field{
    width: 40em;
    
}
mat-select{
    
    color: black;
}
mat-card{
    padding-left: 7em;
}
mat-sidenav{
    width: 18em;
}
.side-list-item{
    margin-bottom: 1em;
}